<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置自动扫描的包：扫描controller -->
    <!--
        这里出现一个问题 之前把包扫描路径配错了，配成了base-package="com.zzx.crowd.mvc.controller"
        导致了config包下的CrowdExceptionResolver自定义异常处理器的注解失效了，所以登录失败直接跳转到错误页面了，
        没有走CrowdExceptionResolver.resolveLoginFailedException这个方法回到admin-login
    -->
    <context:component-scan base-package="com.zzx.crowd.mvc"/>

    <!-- 配置SpringMVC的注解驱动 -->
    <mvc:annotation-driven/>

    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 将JSP放到WEB-INF下 -->
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置基于XML的异常映射 -->
    <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 配置异常的类型以及具体页面的对应关系 -->
        <property name="exceptionMappings">
            <props>
                <!-- key指定异常全限定类名，标签体内是对应的视图(相应的前后缀看上面配置的视图解析器) -->
                <prop key="java.lang.Exception">system-error</prop>
                <!-- 配置拦截器中抛出的拒绝访问异常，并将其转发到登录页面 -->
                <prop key="com.zzx.crowd.exception.AccessForbiddenException">admin-login</prop>
            </props>
        </property>
    </bean>

    <!-- 配置view-controller，把请求地址和视图名称关联起来 -->
    <!--
            @RequestMapping("admin/to/login.html")
            public String toLoginPage(){
                return "admin-login";
            }
    -->
    <mvc:view-controller path="admin/to/login/page.html" view-name="admin-login"/>
    <mvc:view-controller path="admin/to/main/page.html" view-name="admin-main"/>
    <mvc:view-controller path="admin/to/add/page.html" view-name="admin-add"/>

    <!-- 将拦截器注册进spring容器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有路径 -->
            <mvc:mapping path="/**"/>
            <!-- 去登陆页面、登录的操作以及退出登录不需要拦截 -->
            <mvc:exclude-mapping path="/admin/to/login/page.html"/>
            <mvc:exclude-mapping path="/admin/do/login.html"/>
            <mvc:exclude-mapping path="/admin/do/logout.html"/>
            <bean class="com.zzx.crowd.mvc.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>